.illust-list {
  width: 100%;
  padding-bottom: 5vh;
  margin: 5px;

  border-radius: 10px;
}

.illust-list h3 {
  text-align: center;
}

.illust-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.illust-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.IllustList__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
