.ToastUIEditorBtn {
  margin-top: 50px;
  width: 300px;
  margin: 40px 35%;
  padding: 10px;
  background-color: #38d9a9;
  border: 2px solid #2dae87;
  border-radius: 7px;

  font-size: 20px;
  color: white;
}

.ToastUIEditorBtn:hover {
  transition: 0.2s all;
  background-color: #2dae87;

  color: #0b2b22;
  border: 2px solid #0b2b22;
}
